{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_workflow/view_request
    Admin heading setting template.
    Context variables required for this template:
    * title - Title text
    * description - Description containing descriptionformatted
    Example context (json):
    {
        "title": "Favourite cheeses",
        "description": true,
        "descriptionformatted": "Stilton, Cheddar, Edam"
    }
}}
<style>
    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

</style>
<div class="row">
    <div>
        <img class="m-4" src={{{photourl}}}>
    </div>
    <div>
        <p class="mt-4 mb-1"><strong>{{name}}</strong> </p>
        <p class="">{{date}}</p>
    </div>
</div>

<p class="lh-base"><b>Student Index Number : </b>{{studentid}}</p>
<p class="lh-base"><b>Request Id Number : </b>{{requestid}}</p>
<p class="lh-base"><b>Request Type : </b>{{requesttype}}</p>

{{#isassessment}}
    <p class="lh-base"><b>Is this an extension for whole batch : </b>{{isbatchrequest}}</p>
    <p class="lh-base"><b>Assessment Type : </b>{{assessmenttype}}</p>
    <p class="lh-base"><b>Assessment Name : </b>{{assessment}}</p>
    <p class="lh-base"><b>Required Extend Time : </b>{{extendtime}}</p>
{{/isassessment}}

<p class="lh-base"><b>Reason : </b>{{description}}</p>
<p class="lh-base"><b>State : </b>{{state}}</p>

{{#hasmorereason}}
    <p class="lh-base"><b>More Reason: </b>{{morereason}}</p>
{{/hasmorereason}}

{{#hasfile}}
    <a><a href="download.php?path={{filepath}}", class="btn btn-success">Download attached files</a></p>
{{/hasfile}}

{{#hasmorefile}}
    <a><a href="download.php?path={{morefilepath}}", class="btn btn-success">Download more attached files</a></p>
{{/hasmorefile}}

{{#buttons}}
    <a href="/mod/workflow/update.php?requestid={{requestid}}&value={{btnId}}&cmid={{cmid}}", class="btn btn-primary">{{btnValue}}</a>
{{/buttons}}

{{#altbuttons}}
    <a href="/mod/workflow/{{linkText}}?requestid={{requestid}}&cmid={{cmid}}", class="btn btn-primary">{{btnValue}}</a>
{{/altbuttons}}